@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

    <figure class="floatRight">
        <img src="Images/windingroad.jpg" alt="" width="333" height="156">
    </figure>

    <ul id="itemList">
        <li>Speciality Coffee and Tea</li>
        <li>Bagels, Muffins and Organic Snacks</li>
        <li>Music and Poetry Readings</li>
        <li>Open Mic Night</li>
    </ul>

    <div>
        12312 Main Street <br>
        Mountains Home, CA 93923 <br>
        1-888-555-5555 <br><br>
    </div>
