
@{
    ViewData["Title"] = "Menu";
    Layout = "_Layout";
}

<table id="menu">
    <tr id="ColoredMenu">
        <th> Just Java</th>
        <td>
            Regular house blend, defaffinated Coffee, or flavor of the day. <br>
            Endless Cup $2.00
        </td>
    </tr>
    <tr>
        <th>Cafe au Lait</th>
        <td>House blended coffee infused into a smotth, steamed milk. <br>
            Single $2.00 &nbsp; Double $3.00</td>
    </tr>
    <tr id="ColoredMenu">
        <th>Iced Cappuccino</th>
        <td>Sweetened espresso blended with icy-cold milk and served in a chilled glass. <br>
            Single $4.75 &nbsp; Double $5.75</td>
    </tr>
    
</table>
