body {
    background-color: #ffffcc;
    background-image: url(images/background.gif);
    color: #330000;
    font-family: Verdana,Arial, sans-serif;
}

header {
    background-color: #ccaa66;
    color: #000000;
    text-align: center;
    margin: 0;
}

nav {
    text-align: center;
    float: left;
    width: 100px;
    padding-top: 10px;
}

h1 {
    margin: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    padding-bottom: 15px;
}

    nav a:link {
        color: #996633;
    }

    nav a:visited {
        color: #ccaa66;
    }

    nav a:hover {
        color: #330000;
    }

nav ul {
    list-style-type: none;
}

footer {
    background-color: #ccaa66;
    color: #000000;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}

    footer a:link {
        color: #f2eab7;
    }

    footer a:visited {
        color: #ffffcc;
    }

    footer a:hover {
        color: #330000;
    }

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #ffffcc;
    min-width: 700px;
    -webkit-box-shadow: 5px 5px 5px #828282;
    -moz-box-shadow: 5px 5px 5px #828282;
    box-shadow: 5px 5px 5px #828282;
}

h2 {
    text-transform: uppercase;
    background-color: #ffffcc;
    color: #663300;
    font-size: 1.2em;
    border-bottom: 1px solid #000000;
    padding: 5px 0 0 5px;
    margin-right: 20px;
    clear: left;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 35px;
}

#content {
    padding: 10px 20px 30px;
    margin-left: 150px;
    background-color: #f2eab7;
    color: #000000;
}

.floatright {
    padding-left: 20px;
    float: right;
}

.floatleft {
    padding-right: 20px;
    padding-bottom: 20px;
    float: left;
}

img {
    border-style: none;
}

header, nav, figure, footer {
    display: block;
}

tr:nth-of-type(odd) {
    background-color: #ccaa66;
}

form {
    padding: 10px;
}

label {
    float: left;
    width: 100px;
    display: block;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}

input, textarea {
    margin-top: 10px;
    display: block;
}

#mySubmit {
    margin-left: 110px;
}
