@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-md-12">
        <p>&nbsp;</p>
    </div>
</div>
<div class="row">

    <div class="col-md-4 col-md-offset-2">
        <ul>
            <li>Specialty Coffee and Tea</li>
            <li>Bagels, Muffins, and Organic Snacks</li>
            <li>Music and Poetry Readings</li>
            <li>Open Mic Night</li>
        </ul>

        <div>
            12312 Main Street<br />
            Mountain Home, CA 93923<br />
            <a href="tel:1-888-555-5555">tel: 1-888-555-5555</a>         
            <br>
        </div>

    </div>
    <div class="col-md-4">
        <figure>
            <img src="/images/windingroad.jpg" alt="winding road" width="333" height="156" />
        </figure>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>
</div>
