@{
    ViewBag.Title = "Menu";
}

<div class="row">
    <div class="col-md-12">
        <p>&nbsp;</p>
    </div>
</div>
<div class="row">

    <div class="col-md-4 col-md-offset-2">
        <dl>
            <dt><strong>Just Java</strong></dt>
            <dd>
                Regular house blend, decaffeinated coffee, or flavor of the day.<br>
                Endless Cup $2.00
            </dd>
            <dt><strong>Cafe au Lait</strong></dt>
            <dd>
                House blended coffee infused into a smooth, steamed milk.<br>
                Single $2.00 &nbsp;Double $3.00
            </dd>
            <dt><strong>Iced Cappuccino</strong></dt>
            <dd>
                Sweetened espresso blended with icy-cold milk and served in a chilled glass.<br>
                Single $4.75 &nbsp;Double $5.75
            </dd>
        </dl>
    </div>
</div>
