@{
    ViewBag.Title = "Music";
}

<div class="row">
    <div class="col-md-12">
        <p>&nbsp;</p>
    </div>
</div>
<div class="row">

    <div class="col-md-10 col-md-offset-1">
        <p>
            The first Friday night each month at JavaJam is a special night. Join us from 8pm to 11pm
            for some music you won&rsquo;t want to miss!
        </p>

        <div id="musicArrangements">
        </div>
    </div>
</div>


@section scripts {
    <script src="/Scripts/music-lab2.js"></script>
}

